* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: rgb(17, 17, 17);
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  background-image: url(./assets/navbar.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

#menu img {
  width: 400px;
}

#menu ul {
  list-style: none;
}
#menu ul li {
  display: inline-block;
  line-height: 137px;
  padding-right: 40px;
}

#menu ul li a {
  color: rgb(204, 125, 233);
  text-decoration: none;
  transition: color 0.3s;
}
#menu li a:hover {
  color: #535353;
}

.toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 137px;
  display: none;
}

.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  right: 2rem;
  top: 140px;
  height: 0;
  width: 300px;
  background-color: rgba(45, 45, 45, 0.8);
  backdrop-filter: blur (15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 167px;
}
.dropdown-menu  a {
  color: rgb(204, 125, 233);
  text-decoration: none;
  transition: color 0.3s;
}

.dropdown-menu li a:hover {
  color: #535353;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
}

.pag-portfolio {
  text-align: center;
  padding: 50px;
}

.pag-portfolio h1 {
  font-size: 25px;
}
.pag-portfolio hr {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 500px;
}

.conteudo {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.conteudo :hover {
  color: rgb(204, 125, 233);
}

.conteudo a {
  text-decoration: none;
  text-align: center;
  padding: 50px;
  align-items: center;
  transition: color 0.3s;
}

.conteudo p {
  padding-top: 20px;
}

footer {
  background: url(./assets/navbar.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px 50px;
}

.redes-sociais {
  margin-bottom: 20px;
}

.redes-sociais i {
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 15px;
  transition: color 0.3s;
}

.redes-sociais i:hover {
  color: rgb(204, 125, 233);
}

.copyright-name {
  margin-top: 30px;
}

.copyright {
  margin-top: 10px;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

/* Responsive */
@media screen and (max-width: 590px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
  #menu img {
    padding-top: 30px;
    width: 300px;
  }

  .toggle-btn {
  line-height: 160px;
}

  .menu ul li a {
    display: block;
    font-size: 12px;
    padding: 10px;
  }

  .sobremim {
    background: none;
    align-items: center;
  }

  .sobremim h1 {
    font: bold;
    font-size: 270%;
    text-align: center;
  }

  .sobremim p {
    text-align: center;
    font-size: 130%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .sobremim a {
    color: rgb(228, 193, 241);
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
  }
  .redes-sociais i {
    font-size: 35px;
  }
  .copyright {
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}