* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: rgb(17, 17, 17);
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 100%;
  min-width: 375px;
  max-width: 1920px;
}

#logomarca {
  text-align: center;
  padding: 20px;
  background-image: url(./assets/navbar.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#logomarca img {
  padding-top: 30px;
  width: 500px;
}

.menu ul {
  text-align: center;
  padding: 30px;
}
.menu ul li {
  display: inline;
}

.menu ul li a {
  color: rgb(204, 125, 233);
  text-decoration: none;
  display: inline;
  padding: 35px;
  transition: color 0.3s;
}
.menu li a:hover {
  color: #535353;
}

.pag-contato {
  text-align: center;
  padding: 50px;
}

.pag-contato h1 {
  font-size: 25px;
}
.pag-contato hr {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 500px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 45px;
  padding-bottom: 50px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.formulario label {
  margin-top: 13px;
  margin-bottom: 5px;
}

.formulario input {
  padding: 10px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  transition: all 0.5s;
  background: #1f1f1f;
}

.formulario input:focus {
  border-radius: 16px;
}

.formulario textarea {
  padding: 10px;
  padding-bottom: 200px;
  outline: none;
  border: 0;
  margin-bottom: 30px;
  background: #1f1f1f;
  transition: all 0.5s;
}

.formulario textarea:focus {
  border-radius: 16px;
}

.formulario button {
background: rgb(204, 125, 233);
width: 100px;
height: 50px;
border-radius: 30px;
border: none;
outline: none;
margin-left: auto;
margin-right: auto;
}

.formulario button:hover {
  background: #535353;;
}

footer {
  background: url(./assets/navbar.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px 50px;
}

.redes-sociais {
  margin-bottom: 20px;
}

.redes-sociais i {
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 15px;
  transition: color 0.3s;
}

.redes-sociais i:hover {
  color: rgb(204, 125, 233);
}

.copyright-name {
  margin-top: 30px;
}

.copyright {
  margin-top: 10px;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

/* Responsive */
@media screen and (max-width: 375px) {
}
