* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: rgb(17, 17, 17);
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  background-image: url(./assets/navbar.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

#menu img {
  width: 400px;
}

#menu ul {
  list-style: none;
}
#menu ul li {
  display: inline-block;
  line-height: 137px;
  padding-right: 40px;
}

#menu ul li a {
  color: rgb(204, 125, 233);
  text-decoration: none;
  transition: color 0.3s;
}
#menu li a:hover {
  color: #535353;
}

.toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 137px;
  display: none;
}

.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  right: 2rem;
  top: 140px;
  height: 0;
  width: 300px;
  background-color: rgba(45, 45, 45, 0.8);
  backdrop-filter: blur (15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 167px;
}
.dropdown-menu  a {
  color: rgb(204, 125, 233);
  text-decoration: none;
  transition: color 0.3s;
}

.dropdown-menu li a:hover {
  color: #535353;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
}

.sobremim {
  text-align: center;
  padding: 100px;
  background: rgb(23, 23, 23) no-repeat;
  min-width: 590px;
  max-width: 1920px;
}

.sobremim h1 {
  font: bold;
  font-size: 270%;
}

.sobremim p {
  font-size: 110%;
}

.sobremim a {
  color: rgb(228, 193, 241);
  text-decoration: none;
  transition: color 0.3s;
}

.sobremim href {
  font-size: 110%;
}
.sobremim a:hover {
  color: rgb(83, 83, 83);
}

.container-formacao {
  background: rgb(23, 23, 23);
  width: 54%;
  height: 250px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.formacao {
  align-items: center;
  text-align: center;
}

.formacao h1 {
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.formacao a {
  font-size: large;
}
.formacao p {
  font-size: small;
  font-style: italic;
}

.container-cursos {
  background: rgb(23, 23, 23);
  width: 54%;
  height: 1400px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding-top: 30px;
  font-size: 12.5px;
}

.cursos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 17px;
  gap:10px; 
  margin-left: auto;
  margin-right: auto;
}

.cursos p {
  font-size: small;
  font-style: italic;
}

.skills {
  display: flex;
  max-width: 1000px;
  background: rgb(23, 23, 23);
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.skills .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: whitesmoke;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgb(17, 17, 17);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 60%;
  border-radius: 6px;
  background: rgb(204, 125, 233);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.css {
  width: 50%;
}

.skill-per.informatica {
  width: 85%;
}

.skill-per.word {
  width: 70%;
}

.skill-per.excel {
  width: 75%;
}

.skill-per.corel {
  width: 100%;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgb(204, 125, 233);
  z-index: 1;
}
.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: rgb(204, 125, 233);
  transform: translateX(-50%) rotate(45deg);
}

footer {
  background: url(./assets/navbar.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px 50px;
}

.redes-sociais {
  margin-bottom: 20px;
}

.redes-sociais i {
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 15px;
  transition: color 0.3s;
}

.redes-sociais i:hover {
  color: rgb(204, 125, 233);
}

.copyright-name {
  margin-top: 30px;
}

.copyright {
  margin-top: 10px;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

/* Responsive */
@media screen and (max-width: 590px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
  #menu img {
    padding-top: 30px;
    width: 300px;
  }

  .toggle-btn {
  line-height: 160px;
}

  .menu ul li a {
    display: block;
    font-size: 12px;
    padding: 10px;
  }

  .sobremim {
    background: none;
    align-items: center;
  }

  .sobremim h1 {
    font: bold;
    font-size: 270%;
    text-align: center;
  }

  .sobremim p {
    text-align: center;
    font-size: 130%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .sobremim a {
    color: rgb(228, 193, 241);
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
  }
  .redes-sociais i {
    font-size: 35px;
  }
  .copyright {
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  #container {
    display: block;
    background: none;
    background-image: url(./assets/navbar.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 220px;
    width: 100%;
  }
}